@charset "utf-8";
/* CSS Document */

body {
	font: 0.8em "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	color: #343434;
	background-image: url('../img/fabric.jpg');
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 100%;

	padding: 5px 0 25px 0;
	background-image: url('../img/fabric.jpg');
	position:relative;
	/*
	background: #0d0d0d url(img/header.jpg) no-repeat;
	border: 12px solid #2e2e2e;
	position:relative;
	*/
}


#form_register p{
	color:#555;
	margin-left:0;
}
h1 {
	
	text-align: center;
	margin-left: 100px;
	padding: 0.3em 0;
	color: #fafafa;
	text-transform: capitalize;
	margin-right: 100px;
}

#nav {
	 background-image: url('../img/texture.jpg');
    width:100%;
    height:40px;
    
    position:fixed;
    top:0px;
    margin-top: 0px;
    text-transform: capitalize;

    box-shadow:1.5px 1.5px 1.5px 1.5px #222222;
}
#nav li {
	display:inline;
        padding:10px;
}
#nav li.setting {
	display:inline;
        padding:10px;
}


#nav a.link {
	display: block;
	float: left;
	padding: 10px ;
	color: #676767;
	
	text-align: center;
	  font-weight: bolder;
	    font-size: large;
	    text-decoration: none;
}
#nav a.setting {
	display: block;
	float: right;
	padding: 10px ;
	color: #676767;
	margin-right: 6%;
	text-align: center;
	  font-weight: bolder;
	    font-size: large;
	    text-decoration: none;
}

.title {
    color: #FFFFFF;
  font-weight: bolder;
  font-size: large;
}



#nav a.link:hover {
	color: white;
	text-shadow: 0 0 10px #FFFFFF;
	  font-weight: bolder;
	    font-size: large;
	
}

#content {
	margin-left:100px;
}
#contact {
	margin-left:100px;
}
h2 {
	margin-left: 100px;
	padding: 0.5em 0;
	color:#568945;
	font-family:Helvetica, Arial, Sans-serif;
}
p {
	margin-left:10%;
	padding: 0.4em 0;
	color:#FFFFFF;
	line-height:1.4em;
}
select {
	margin-left: 100px;
	color: #000000;
	line-height:1.4em;
}
button {
	margin-left:100px;
}

#foot {
	padding: 15px;
	color: #000000;
	text-align: center;
	margin: 30px 0 0 0;
}
a:hover{
 color: #000000;
    text-shadow: 2px 2px 2px 0px white;
}
button.deleter {
	margin: 0px;
	background: transparent;
	border:0px;	
}
button.deleter:hover {
	margin: 0px;
	background: transparent;
	border:0px;
	color: red;
}
.button, .button:visited{
    background: #00CC33 url(../img/overlay.png) repeat-x;
  	display: inline-block; 
  	padding: 5px 10px 6px; 
  	color: #fff; 
  	text-decoration: none;
  	-moz-border-radius: 5px; 
  	-webkit-border-radius: 5px;
  	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  	cursor: pointer;
    font-size: 11px;
	margin:10px 3px 4px 3px;
	border: 0px;
}
.button:hover{
    background-color: #222; 
    color: #fff;
    border: 0px;
}
img.ajaxload{
    margin-top:10px;
}

.error{
    height:15px;
}
div.errorimg{
    padding-left:20px;
    float:left;
    background:transparent url(../img/error.png) no-repeat center left;
    height:15px;
    width:140px;
    color:red;
}


/*Forms*/
form.login , .forgotpw{
	position:relative;
	
    margin:0 auto;
    border:1px solid #ccc;
    background-color:#fff;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    padding:20px;
	text-align: left;
	margin-left:100px;
}
body{
    
}
a{
    text-decoration: none;
       color: #565656;
}
form a {
   color: #565656;
}
form a:hover {
    color: #000000;
    text-shadow:2px 2px 2px 0px black;
}
form.login{
	width: 150px;
}
form.login p{
	margin: 10px;
    padding: 0;
    font-size: 11px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #555;
    background-repeat: repeat;
    text-align:center;
}
form.login a{
	color: #00CC33;
    text-decoration: none;
	outline:none;
}

form.checkout, .register, .editaccount, .Search{
       border:1px solid #ccc;
    background-color:#ffffff;
  
    border-radius:20px;
    padding:20px;
	text-align: left;
	margin-left:100px;

	
	
	margin-right: 10%;
	margin-left: 10%;
    
}

.terms {
      border:1px solid #ccc;
    background-color:#ffffff;
  
    border-radius:20px;
    padding:20px;
	text-align: left;
	margin-left:100px;

	
	
	margin-right: 10%;
	margin-left: 10%;    
}

.table{
           border:1px solid #ccc;
    background-color:#ffffff;
  
    border-radius:20px;
	text-align: left;

	padding-bottom: 45px;
	
	margin-right: 10%;
	margin-left: 10%;
}



.forgotpw{
	width:200px;
}

form label{
    display: block;
    margin: 3px;
	font-weight:bold;
}
.login_row{
    float:left;
    clear:both;
	width:100%;
}
.login_row input[type=checkbox]{
    float:left;
}
.login_row label{
    float:left;
}

input[type=text], input[type=password]{
  border:1px solid #ccc;
  padding:2px;
}
input:focus{
	background-color:#EFFFF3;
}




form legend{
    text-align:right;
    color:#888;
    font-size:14px;
    padding:0px 4px 0px 4px;
    margin-left:5px;
}


legend{
    text-align:right;
    color:#888;
    font-size:14px;
    padding:0px 4px 0px 4px;
    margin-left:5px;
}

.error{
    color:red;
    float:left;
    padding:2px;
    font-size:11px;
    height:18px;
    clear:right;
    width:100%;
    font-weight:100;
}

.linkback{
    margin:0 auto;
    width:100px;
    text-align:center;
    height:30px;	    	
}

.dropdown { z-index:99999;
display: none;
border-radius: 5px;
position: fixed;
background: white;
top:30px;
right:5px;
}

.dropdownlink { display: block; color: #676767; text-decoration: none; padding: 5px 7px; }
.dropdownlink:hover { background: #ccc; color:#000000; border-radius: 5px;}


a.linker {
    color: #787878;
}

a.linker:hover {
    color: #FFFFFF;
}
